
<style>

        /* 지도가 표시될 영역 설정 */
        #un7map {
            width: 100%;
            height: 500px;
            background-color: #eee;
        }
        .controls {
            margin: 20px;
        }
        button {
            padding: 10px 20px;
            font-size: 16.dp;
            cursor: pointer;
        }

        gmp-map-3d {
            height: 100vh;
            width: 100vw;
        }

      gmp-map {
        height: 100%;
      }



      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


</style>

